body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
	background-color: #03001C;
	color: #B6EADA;
}





/* song */
#playPauseButton, #volumeControl {
    margin: 10px;
	background-color: #301E67;
}

#playPauseButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
	color: #B6EADA;
}

#volumeControl {
    width: 200px;
	color: #03001C;
}




nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #301E67;
}

a:hover {
    text-decoration: underline;
	color: #B6EADA;
}

h1, h2, h3 {
    color: #B6EADA;
}

pre, code {
    background-color: #301E67;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
	color: #B6EADA;
}

pre {
    overflow-x: auto;
	color: #B6EADA;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #03001C;
	color: #B6EADA;
}

td {
    text-align: left;
	color: #B6EADA;
}



/* toggle */
.switch {
  --input-focus: #301E67;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}