body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
	background-color: #03001C;
	color: #e8e8e8;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
	color: #e8e8e8;
}

h1, h2, h3 {
    color: #e8e8e8;
}

pre, code {
    background-color: #301E67;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
	color: #e8e8e8;
}

pre {
    overflow-x: auto;
	color: #e8e8e8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #03001C;
	color: #e8e8e8;
}

td {
    text-align: left;
	color: #e8e8e8;
}